<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #form="ngForm" (ngSubmit)="create(form)" enctype="multipart/form-data" method="post">
				<h3 class="button__text">Add Log...</h3>

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="name" placeholder="Name" ngModel
						#inputName="ngModel">
				</div>

				<div class="login__field">
					<i class="login__icon fa-solid fa-calendar"></i>
					<input type="date" class="login__input" name="date" placeholder="Date" ngModel
					#inputDate="ngModel">
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-comment"></i>
					<textarea type="text" class="login__input" name="description" placeholder="Description" ngModel
					#inputDescription="ngModel"></textarea>
				</div>

				<div class="login__field">
					<i class="login__icon fa-solid fa-location-crosshairs"></i>
					<input type="text" class="login__input" name="location" placeholder="Location" ngModel
					#inputLocation="ngModel">
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-image"></i>
					<input type="file" id="image" class="login__input" name="img" ngModel
					#inputImage="ngModel" (change)="loadFile($event)"
						placeholder="Image" >
				</div>

				<button class="button login__submit">
					<span class="button__text">Create</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
			<!-- <div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div> -->
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>

	<div class="screen">
		<div class="login">
			<img style="width: 320px" id="output" [src]="url" alt="Cat Image">
		</div>
	</div>

</div>