<main>
    <section id="hero">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, nisi inventore!<br /> Tempore modi beatae
            culpa consequuntur, earum eos non dolore aperiam,<br /> ratione possimus officia expedita accusamus odio
            voluptas adipisci fugiat.</p>

        <ul class="rescent" *ngIf="rescentLogs">
            <li *ngFor="let log of rescentLogs">
                <a routerLink="home" >
                    <app-card [log]="log" />
                </a>
            </li>
        </ul>

    </section>


</main>