<main>
    <section id="hero">
        <h1><strong>Search</strong> results...</h1>
        <h2 *ngIf="!currentPageLogs$">There are no logs!</h2>
        <div class="pagination">
            <app-pagination [currentPage$]="currentPage$" />
        </div>
        <ul class="rescent" *ngIf="currentPageLogs$ | async as logs">
            <li *ngFor="let log of logs">
                <a routerLink="/logs/{{log._id}}" >
                    <app-card [log]="log" />
                </a>
            </li>
        </ul>
    </section>
</main>
